@import "reset.css";
@import "sidebar.css";
@import "nav.css";
@import url("https://fonts.googleapis.com/css2?family=Skranji&display=swap");

:root {
  --system-font: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --logo-font: "Skranji", serif;
  --green-gradient: linear-gradient(
    270deg,
    rgb(37, 77, 54) 0%,
    rgb(73, 148, 105) 100%
  );
}

html,
body {
  height: 100vh;
  width: 100vw;
  font-family: var(--system-font);
}

body {
  display: grid;
  grid-template-rows: 150px 1fr;
  grid-template-columns: min-content 1fr;
}

h1 {
  font-family: var(--logo-font, --system-font);
  font-size: 16pt;
  text-wrap: nowrap;
}
