@import "reset.css";
@import "sidebar.css";
@import "nav.css";
@import "body.css";
@import url("https://fonts.googleapis.com/css2?family=Skranji&display=swap");

:root {
  --system-font: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --logo-font: "Skranji", serif;
  --green-gradient: linear-gradient(
    270deg,
    rgb(37, 77, 54) 0%,
    rgb(73, 148, 105) 100%
  );
  --brown-gradient: linear-gradient(
    180deg,
    rgb(195, 163, 131) 0%,
    rgb(78, 65, 52) 100%
  );
  --gray-gradient: linear-gradient(270deg, lightgray, gray);
}

.hoverable-item {
  transition: all 0.1s ease-out;
}

.hoverable-item:hover {
  transform: scale(1.1);
}

.avatar-small {
  width: 60px;
}

.avatar-main {
  width: 80px;
}

html,
body {
  min-height: 100vh;
  min-width: 100vw;
  font-family: var(--system-font);
}

body {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: min-content 1fr;
}

h1 {
  font-family: var(--logo-font, --system-font);
  font-size: 16pt;
  white-space: nowrap;
}

button {
  background-color: transparent;
  border: none;
}

button:hover {
  cursor: pointer;
}
