#nav {
  box-shadow: 0 1px 10px;
  z-index: 1;
  display: grid;
  grid-template: repeat(2, 1fr) / minmax(min-content, auto) min-content;
  padding: 20px;
  padding-inline: 50px;
  column-gap: 25px;
}

#nav > form {
  display: flex;
  align-items: center;
  gap: 10px;
}

#nav > form > input {
  flex: 1;
  height: 40px;
  border-radius: 20px;
  padding-inline: 10px;
  border: none;
  background: lightgray;
  font-size: 12pt;
}

#nav > form > input:focus {
  outline: none;
}

#nav > form + div {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 10px;
}

#nav > div + div {
  display: flex;
  gap: 10px;
}

#nav > div > h2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

#nav > div > h2 > span + span {
  font-weight: bold;
  font-size: 14pt;
  font-family: var(--logo-font);
}

#nav > div + div + div {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 20px;
}

#nav > div + div + div > button {
  background: var(--green-gradient);
  padding-block: 10px;
  width: 100px;
  border-radius: 25px;
  color: white;
  font-weight: bold;
}
